<mat-toolbar color="primary">
  <span>TAP Terminal</span>
  <span class="spacer"></span>
  <button mat-button (click)="logout()">Cerrar sesión</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      @if (canSeeProducts) {
        <a mat-list-item routerLink="/products" routerLinkActive="active-link">
          Productos
        </a>
      }
      @if (canSeeUsers) {
        <a mat-list-item routerLink="/users" routerLinkActive="active-link">
          Usuarios
        </a>
      }
      @if (canSeeProfiles) {
        <a mat-list-item routerLink="/profiles" routerLinkActive="active-link">
          Perfiles
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>